[submodule "godot-cpp"]
	path = godot-cpp
	url = https://github.com/godotengine/godot-cpp.git
	branch = 4.3
[submodule "third_party/physics_anim"]
	path = third_party/physics_anim
	url = https://github.com/LeftCircle/DPA_PhysicsBasedAnimation.git
